<ion-content class="fondo-oscuro">
  <div class="contenedor-centrado">
    <ion-card class="tarjeta-oscura">
      <ion-card-header>
        <ion-card-title class="titulo-centrado">ACCESO<br>CORPORATIVO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="form-group">
          <ion-input type="text" placeholder="Usuario Maestro" class="input-oscuro"></ion-input>
          <ion-input type="password" placeholder="Contraseña" class="input-oscuro"></ion-input>
        </div>
        <ion-button expand="block" class="btn-dorado" (click)="entrarAlSistema()">
          ENTRAR
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>