<ion-content class="fondo-pantalla">
  <div class="contenedor-centrado">
    <div class="form-container">
      
      <!-- Logo -->
      <div class="logo-container">
        <img src="assets/imgrosamx.jpg" alt="Logo Rosa Mexicano" class="logo-img">
      </div>
      
      <!-- Cuerpo del formulario -->
      <div class="form-body">
        <h3>Reserva tu Mesa</h3>
        
        <!-- Fila Fecha y Hora -->
        <div class="row-inputs">
          <div class="column-input">
            <label class="label-texto">Fecha de visita</label>
            <div class="input-wrapper">
              <ion-icon name="calendar-outline" class="icono-input"></ion-icon>
              <ion-input type="date" class="input-limpio"></ion-input>
            </div>
          </div>
          <div class="column-input">
            <label class="label-texto">Hora</label>
            <div class="input-wrapper">
              <ion-icon name="time-outline" class="icono-input"></ion-icon>
              <ion-input type="time" class="input-limpio"></ion-input>
            </div>
          </div>
        </div>

        <!-- Personas -->
        <label class="label-texto">Número de Personas</label>
        <div class="input-wrapper">
          <ion-icon name="people-outline" class="icono-input"></ion-icon>
          <ion-input type="number" min="1" max="12" placeholder="Ej. 4 personas" class="input-limpio"></ion-input>
        </div>
        
        <!-- Área de Preferencia -->
        <label class="label-texto">Área de Preferencia</label>
        <div class="input-wrapper">
          <ion-icon name="restaurant-outline" class="icono-input"></ion-icon>
          <ion-select placeholder="Selecciona el área..." class="input-limpio" interface="popover">
            <ion-select-option value="terraza">Terraza</ion-select-option>
            <ion-select-option value="piso">Piso</ion-select-option>
            <ion-select-option value="jardin">Jardín</ion-select-option>
            <ion-select-option value="cava">Cava</ion-select-option>
          </ion-select>
        </div>

        <hr class="divider">

        <!-- Fila Nombre y Apellido -->
        <div class="row-inputs">
          <div class="column-input">
            <label class="label-texto">Nombre</label>
            <div class="input-wrapper">
              <ion-icon name="person-outline" class="icono-input"></ion-icon>
              <ion-input type="text" placeholder="Ej. Juan" class="input-limpio"></ion-input>
            </div>
          </div>
          <div class="column-input">
            <label class="label-texto">Apellido</label>
            <div class="input-wrapper">
              <ion-icon name="person-outline" class="icono-input"></ion-icon>
              <ion-input type="text" placeholder="Ej. Pérez" class="input-limpio"></ion-input>
            </div>
          </div>
        </div>

        <!-- Teléfono -->
        <label class="label-texto">Número de Teléfono</label>
        <div class="input-wrapper">
          <ion-icon name="call-outline" class="icono-input"></ion-icon>
          <ion-input type="tel" placeholder="Ej. 55 1234 5678" class="input-limpio"></ion-input>
        </div>

        <!-- Email -->
        <label class="label-texto">Correo Electrónico</label>
        <div class="input-wrapper">
          <ion-icon name="mail-outline" class="icono-input"></ion-icon>
          <ion-input type="email" placeholder="Ej. juan@correo.com" class="input-limpio"></ion-input>
        </div>

        <!-- Notas Especiales -->
        <label class="label-texto">Notas Especiales</label>
        <div class="input-wrapper textarea-wrapper">
          <ion-icon name="document-text-outline" class="icono-input"></ion-icon>
          <ion-textarea placeholder="Ej. Alergia al gluten, mesa cerca de la ventana..." class="input-limpio"></ion-textarea>
        </div>
      </div>
      
      <!-- Botón -->
      <div class="form-footer">
        <ion-button expand="block" class="btn-guardar">
          CONFIRMAR RESERVACIÓN
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>