<ion-content class="fondo-oscuro">
  <div class="contenedor-centrado">
    <ion-card class="tarjeta-oscura">
      <ion-card-header>
        <ion-card-title class="titulo-centrado">SELECCIONA<br>RESTAURANTE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="botones-restaurantes">
          <ion-button expand="block" class="btn-rosa-mex" routerLink="/rosa">
            ROSA MEXICANO
          </ion-button>
          <ion-button expand="block" class="btn-pietra" fill="outline" routerLink="/pietra">
            PIETRA CUCINA
          </ion-button>
          <ion-button expand="block" class="btn-llorona-comedor" fill="outline" routerLink="/llorona">
            LA LLORONA COMEDOR
          </ion-button>
          <ion-button expand="block" color="danger" fill="clear" (click)="cerrarSesion()" style="margin-top: 15px;">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            CERRAR SESIÓN
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>